In [21]:
import pandas as pd
import numpy as np

In [27]:
#loading the dataset
df = pd.read_excel("C:\\Users\\14375\\Downloads\\sql project data\\Air Conditioners dimension.xlsx", skiprows=3, header=1)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              149 non-null    object
 1   name            149 non-null    object
 2   main_category   149 non-null    object
 3   Unnamed: 3      0 non-null      float64
 4   sub_category    149 non-null    object
 5   image           149 non-null    object
 6   Unnamed: 6      0 non-null      float64
 7   link            149 non-null    object
 8   ratings         131 non-null    float64
 9   no_of_ratings   131 non-null    float64
 10  Unnamed: 10     0 non-null      float64
 11  discount_price  142 non-null    object
 12  actual_price    144 non-null    object
dtypes: float64(5), object(8)
memory usage: 15.5+ KB

In [29]:
df.describe()

       Unnamed: 3  Unnamed: 6     ratings  no_of_ratings  Unnamed: 10
count         0.0         0.0  131.000000     131.000000          0.0
mean          NaN         NaN    3.993893     475.099237          NaN
std           NaN         NaN    0.475679     837.842356          NaN
min           NaN         NaN    2.700000       1.000000          NaN
25%           NaN         NaN    3.900000      13.000000          NaN
50%           NaN         NaN    4.000000     134.000000          NaN
75%           NaN         NaN    4.200000     519.000000          NaN
max           NaN         NaN    5.000000    5073.000000          NaN

In [30]:
df.shape

(151, 13)

In [31]:
df.head(5)

,id,name,main_category,Unnamed: 3,sub_category,image,Unnamed: 6,link,ratings,no_of_ratings,Unnamed: 10,discount_price,actual_price
0,AC001,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,NaN,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,NaN,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255.0,NaN,"â‚¹32,999","â‚¹58,990"
1,AC002,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,NaN,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,NaN,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948.0,NaN,"â‚¹46,490","â‚¹75,990"
2,AC003,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,NaN,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,NaN,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206.0,NaN,"â‚¹34,490","â‚¹61,990"
3,AC004,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,NaN,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,NaN,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69.0,NaN,"â‚¹37,990","â‚¹68,990"
4,AC005,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,NaN,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,NaN,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630.0,NaN,"â‚¹34,490","â‚¹67,790"

In [32]:
df.dropna(how='all', inplace=True)

In [33]:
df.dropna(axis=1, how='all', inplace=True)

In [34]:
df.columns

Index(['id', 'name', 'main_category', 'sub_category', 'image', 'link',
       'ratings', 'no_of_ratings', 'discount_price', 'actual_price'],
      dtype='object')

In [35]:
df = df.rename(columns={'id': 'Air Conditioner id'})

In [36]:
df.drop(columns=['image', 'link'], inplace=True)

In [37]:
print(df)

    Air Conditioner id                                               name  \
0                AC001  Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...
1                AC002  LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...
2                AC003  LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...
3                AC004  LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...
4                AC005  Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...
..                 ...                                                ...
146              AC145  Daikin 1.5 Ton 4 Star Hot & Cold Heat Pump Inv...
147              AC146  Panasonic 1 Ton 5 Star Wi-Fi Inverter Smart Sp...
148              AC147  LG 1.5 Ton 5 Star AI DUAL Inverter Wi-Fi Split...
149              AC148       Voltas Split AC 1.5 Ton 3 Star (SAC 183 DZR)
150              AC149  Voltas 1.5 Ton 4 star 184V DAZR Adjustable Inv...

    main_category      sub_category  ratings  no_of_ratings discount_price  \
0      appliances  Air Conditioners      4.2         2255.0      â‚¹32,999
1      appliances  Air Conditioners      4.2         2948.0      â‚¹46,490
2      appliances  Air Conditioners      4.2         1206.0      â‚¹34,490
3      appliances  Air Conditioners      4.0           69.0      â‚¹37,990
4      appliances  Air Conditioners      4.1          630.0      â‚¹34,490
..            ...               ...      ...            ...            ...
146    appliances  Air Conditioners      3.7           27.0            NaN
147    appliances  Air Conditioners      4.7            7.0      â‚¹43,990
148    appliances  Air Conditioners      4.7           34.0            NaN
149    appliances  Air Conditioners      4.1           37.0      â‚¹36,990
150    appliances  Air Conditioners      4.5            2.0      â‚¹37,350

    actual_price
0      â‚¹58,990
1      â‚¹75,990
2      â‚¹61,990
3      â‚¹68,990
4      â‚¹67,790
..           ...
146          NaN
147    â‚¹64,400
148          NaN
149    â‚¹66,990
150    â‚¹69,990

[149 rows x 8 columns]

In [38]:
df['discount_price'] = df['discount_price'].str.replace(',', '').str.replace('â‚¹', '').astype(float)
df['actual_price'] = df['actual_price'].str.replace(',', '').str.replace('â‚¹', '').astype(float)

In [39]:
print(df)

    Air Conditioner id                                               name  \
0                AC001  Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...
1                AC002  LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...
2                AC003  LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...
3                AC004  LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...
4                AC005  Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...
..                 ...                                                ...
146              AC145  Daikin 1.5 Ton 4 Star Hot & Cold Heat Pump Inv...
147              AC146  Panasonic 1 Ton 5 Star Wi-Fi Inverter Smart Sp...
148              AC147  LG 1.5 Ton 5 Star AI DUAL Inverter Wi-Fi Split...
149              AC148       Voltas Split AC 1.5 Ton 3 Star (SAC 183 DZR)
150              AC149  Voltas 1.5 Ton 4 star 184V DAZR Adjustable Inv...

    main_category      sub_category  ratings  no_of_ratings  discount_price  \
0      appliances  Air Conditioners      4.2         2255.0         32999.0
1      appliances  Air Conditioners      4.2         2948.0         46490.0
2      appliances  Air Conditioners      4.2         1206.0         34490.0
3      appliances  Air Conditioners      4.0           69.0         37990.0
4      appliances  Air Conditioners      4.1          630.0         34490.0
..            ...               ...      ...            ...             ...
146    appliances  Air Conditioners      3.7           27.0             NaN
147    appliances  Air Conditioners      4.7            7.0         43990.0
148    appliances  Air Conditioners      4.7           34.0             NaN
149    appliances  Air Conditioners      4.1           37.0         36990.0
150    appliances  Air Conditioners      4.5            2.0         37350.0

     actual_price
0         58990.0
1         75990.0
2         61990.0
3         68990.0
4         67790.0
..            ...
146           NaN
147       64400.0
148           NaN
149       66990.0
150       69990.0

[149 rows x 8 columns]

In [40]:
print(df.isnull().sum())

Air Conditioner id     0
name                   0
main_category          0
sub_category           0
ratings               18
no_of_ratings         18
discount_price         7
actual_price           5
dtype: int64

In [41]:

df['discount_price'] = df['discount_price'].fillna(df['discount_price'].mean())
df['actual_price'] = df['actual_price'].fillna(df['actual_price'].mean())

In [42]:
print(df)

    Air Conditioner id                                               name  \
0                AC001  Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...
1                AC002  LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...
2                AC003  LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...
3                AC004  LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...
4                AC005  Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...
..                 ...                                                ...
146              AC145  Daikin 1.5 Ton 4 Star Hot & Cold Heat Pump Inv...
147              AC146  Panasonic 1 Ton 5 Star Wi-Fi Inverter Smart Sp...
148              AC147  LG 1.5 Ton 5 Star AI DUAL Inverter Wi-Fi Split...
149              AC148       Voltas Split AC 1.5 Ton 3 Star (SAC 183 DZR)
150              AC149  Voltas 1.5 Ton 4 star 184V DAZR Adjustable Inv...

    main_category      sub_category  ratings  no_of_ratings  discount_price  \
0      appliances  Air Conditioners      4.2         2255.0    32999.000000
1      appliances  Air Conditioners      4.2         2948.0    46490.000000
2      appliances  Air Conditioners      4.2         1206.0    34490.000000
3      appliances  Air Conditioners      4.0           69.0    37990.000000
4      appliances  Air Conditioners      4.1          630.0    34490.000000
..            ...               ...      ...            ...             ...
146    appliances  Air Conditioners      3.7           27.0    37580.676056
147    appliances  Air Conditioners      4.7            7.0    43990.000000
148    appliances  Air Conditioners      4.7           34.0    37580.676056
149    appliances  Air Conditioners      4.1           37.0    36990.000000
150    appliances  Air Conditioners      4.5            2.0    37350.000000

     actual_price
0    58990.000000
1    75990.000000
2    61990.000000
3    68990.000000
4    67790.000000
..            ...
146  58466.569444
147  64400.000000
148  58466.569444
149  66990.000000
150  69990.000000

[149 rows x 8 columns]

In [43]:
df['savings'] = df['actual_price'] - df['discount_price']

In [44]:
df.to_excel("C:\\Users\\14375\\Downloads\\sql project data\\air_conditioner_dIM_clean.xlsx", index=False)