In [1]:
import pandas as pd
import numpy as np

In [2]:
#loading the dataset
df = pd.read_excel("C:\\Users\\14375\\Downloads\\sql project data\\All Electronics dimension.xlsx", skiprows=1, header=1)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      0 non-null      float64
 1   ID              149 non-null    object
 2   name            149 non-null    object
 3   main_category   149 non-null    object
 4   sub_category    149 non-null    object
 5   Unnamed: 5      0 non-null      float64
 6   image           149 non-null    object
 7   link            149 non-null    object
 8   Unnamed: 8      0 non-null      float64
 9   ratings         149 non-null    object
 10  no_of_ratings   149 non-null    object
 11  discount_price  134 non-null    object
 12  actual_price    148 non-null    object
dtypes: float64(3), object(10)
memory usage: 15.8+ KB

In [4]:
df.describe()

       Unnamed: 0  Unnamed: 5  Unnamed: 8
count         0.0         0.0         0.0
mean          NaN         NaN         NaN
std           NaN         NaN         NaN
min           NaN         NaN         NaN
25%           NaN         NaN         NaN
50%           NaN         NaN         NaN
75%           NaN         NaN         NaN
max           NaN         NaN         NaN

In [5]:
df.shape

(154, 13)

In [6]:
df.head(5)

,Unnamed: 0,ID,name,main_category,sub_category,Unnamed: 5,image,link,Unnamed: 8,ratings,no_of_ratings,discount_price,actual_price
0,NaN,AE001,"Redmi 10 Power (Power Black, 8GB RAM, 128GB St...","tv, audio & cameras",All Electronics,NaN,https://m.media-amazon.com/images/I/81eM15lVcJ...,https://www.amazon.in/Redmi-Power-Black-128GB-...,NaN,4,965,"â‚¹10,999","â‚¹18,999"
1,NaN,AE002,"OnePlus Nord CE 2 Lite 5G (Blue Tide, 6GB RAM,...","tv, audio & cameras",All Electronics,NaN,https://m.media-amazon.com/images/I/71AvQd3Vzq...,https://www.amazon.in/OnePlus-Nord-Lite-128GB-...,NaN,4.3,113956,"â‚¹18,999","â‚¹19,999"
2,NaN,AE003,OnePlus Bullets Z2 Bluetooth Wireless in Ear E...,"tv, audio & cameras",All Electronics,NaN,https://m.media-amazon.com/images/I/51UhwaQXCp...,https://www.amazon.in/Oneplus-Bluetooth-Wirele...,NaN,4.2,90304,"â‚¹1,999","â‚¹2,299"
3,NaN,AE004,"Samsung Galaxy M33 5G (Mystique Green, 6GB, 12...","tv, audio & cameras",All Electronics,NaN,https://m.media-amazon.com/images/I/81I3w4J6yj...,https://www.amazon.in/Samsung-Mystique-Storage...,NaN,4.1,24863,"â‚¹15,999","â‚¹24,999"
4,NaN,AE005,"OnePlus Nord CE 2 Lite 5G (Black Dusk, 6GB RAM...","tv, audio & cameras",All Electronics,NaN,https://m.media-amazon.com/images/I/71V--WZVUI...,https://www.amazon.in/OnePlus-Nord-Black-128GB...,NaN,4.3,113956,"â‚¹18,999","â‚¹19,999"

In [7]:
df.dropna(how='all', inplace=True)

In [8]:
df.dropna(axis=1, how='all', inplace=True)

In [9]:
df.columns

Index(['ID', 'name', 'main_category', 'sub_category', 'image', 'link',
       'ratings', 'no_of_ratings', 'discount_price', 'actual_price'],
      dtype='object')

In [10]:
df = df.rename(columns={'ID': 'Electronic id'})

In [11]:
df.drop(columns=['image', 'link'], inplace=True)

In [12]:
print(df)

    Electronic id                                               name  \
0           AE001  Redmi 10 Power (Power Black, 8GB RAM, 128GB St...
1           AE002  OnePlus Nord CE 2 Lite 5G (Blue Tide, 6GB RAM,...
2           AE003  OnePlus Bullets Z2 Bluetooth Wireless in Ear E...
3           AE004  Samsung Galaxy M33 5G (Mystique Green, 6GB, 12...
4           AE005  OnePlus Nord CE 2 Lite 5G (Black Dusk, 6GB RAM...
..            ...                                                ...
149         AE145  Samsung 80 cm (32 Inches) Wondertainment Serie...
150         AE146  boAt BassHeads 122 Wired in Ear Earphones with...
151         AE147           Syska SSK-EBS-0402 ABS 4 Way Power Strip
152         AE148      Agaro Blaze USB 3.0 to USB Type C OTG Adapter
153         AE149  Ajanta Abstract Metal Quartz Wall Clock (32 cm...

           main_category     sub_category ratings no_of_ratings  \
0    tv, audio & cameras  All Electronics       4           965
1    tv, audio & cameras  All Electronics     4.3        113956
2    tv, audio & cameras  All Electronics     4.2         90304
3    tv, audio & cameras  All Electronics     4.1         24863
4    tv, audio & cameras  All Electronics     4.3        113956
..                   ...              ...     ...           ...
149  tv, audio & cameras  All Electronics     4.2          8877
150  tv, audio & cameras  All Electronics     3.9           757
151  tv, audio & cameras  All Electronics       4          3797
152  tv, audio & cameras  All Electronics     4.3         16085
153  tv, audio & cameras  All Electronics     4.2         59489

    discount_price actual_price
0        â‚¹10,999    â‚¹18,999
1        â‚¹18,999    â‚¹19,999
2         â‚¹1,999     â‚¹2,299
3        â‚¹15,999    â‚¹24,999
4        â‚¹18,999    â‚¹19,999
..             ...          ...
149      â‚¹12,990    â‚¹22,900
150         â‚¹399     â‚¹1,290
151         â‚¹449       â‚¹470
152         â‚¹139       â‚¹495
153            NaN       â‚¹465

[149 rows x 8 columns]

In [13]:
df['discount_price'] = df['discount_price'].str.replace(',', '').str.replace('â‚¹', '').astype(float)
df['actual_price'] = df['actual_price'].str.replace(',', '').str.replace('â‚¹', '').astype(float)

In [14]:
print(df)

    Electronic id                                               name  \
0           AE001  Redmi 10 Power (Power Black, 8GB RAM, 128GB St...
1           AE002  OnePlus Nord CE 2 Lite 5G (Blue Tide, 6GB RAM,...
2           AE003  OnePlus Bullets Z2 Bluetooth Wireless in Ear E...
3           AE004  Samsung Galaxy M33 5G (Mystique Green, 6GB, 12...
4           AE005  OnePlus Nord CE 2 Lite 5G (Black Dusk, 6GB RAM...
..            ...                                                ...
149         AE145  Samsung 80 cm (32 Inches) Wondertainment Serie...
150         AE146  boAt BassHeads 122 Wired in Ear Earphones with...
151         AE147           Syska SSK-EBS-0402 ABS 4 Way Power Strip
152         AE148      Agaro Blaze USB 3.0 to USB Type C OTG Adapter
153         AE149  Ajanta Abstract Metal Quartz Wall Clock (32 cm...

           main_category     sub_category ratings no_of_ratings  \
0    tv, audio & cameras  All Electronics       4           965
1    tv, audio & cameras  All Electronics     4.3        113956
2    tv, audio & cameras  All Electronics     4.2         90304
3    tv, audio & cameras  All Electronics     4.1         24863
4    tv, audio & cameras  All Electronics     4.3        113956
..                   ...              ...     ...           ...
149  tv, audio & cameras  All Electronics     4.2          8877
150  tv, audio & cameras  All Electronics     3.9           757
151  tv, audio & cameras  All Electronics       4          3797
152  tv, audio & cameras  All Electronics     4.3         16085
153  tv, audio & cameras  All Electronics     4.2         59489

     discount_price  actual_price
0           10999.0       18999.0
1           18999.0       19999.0
2            1999.0        2299.0
3           15999.0       24999.0
4           18999.0       19999.0
..              ...           ...
149         12990.0       22900.0
150           399.0        1290.0
151           449.0         470.0
152           139.0         495.0
153             NaN         465.0

[149 rows x 8 columns]

In [15]:
print(df.isnull().sum())

Electronic id      0
name               0
main_category      0
sub_category       0
ratings            0
no_of_ratings      0
discount_price    15
actual_price       1
dtype: int64

In [16]:

df['discount_price'] = df['discount_price'].fillna(df['discount_price'].mean())
df['actual_price'] = df['actual_price'].fillna(df['actual_price'].mean())

In [17]:
print(df)

    Electronic id                                               name  \
0           AE001  Redmi 10 Power (Power Black, 8GB RAM, 128GB St...
1           AE002  OnePlus Nord CE 2 Lite 5G (Blue Tide, 6GB RAM,...
2           AE003  OnePlus Bullets Z2 Bluetooth Wireless in Ear E...
3           AE004  Samsung Galaxy M33 5G (Mystique Green, 6GB, 12...
4           AE005  OnePlus Nord CE 2 Lite 5G (Black Dusk, 6GB RAM...
..            ...                                                ...
149         AE145  Samsung 80 cm (32 Inches) Wondertainment Serie...
150         AE146  boAt BassHeads 122 Wired in Ear Earphones with...
151         AE147           Syska SSK-EBS-0402 ABS 4 Way Power Strip
152         AE148      Agaro Blaze USB 3.0 to USB Type C OTG Adapter
153         AE149  Ajanta Abstract Metal Quartz Wall Clock (32 cm...

           main_category     sub_category ratings no_of_ratings  \
0    tv, audio & cameras  All Electronics       4           965
1    tv, audio & cameras  All Electronics     4.3        113956
2    tv, audio & cameras  All Electronics     4.2         90304
3    tv, audio & cameras  All Electronics     4.1         24863
4    tv, audio & cameras  All Electronics     4.3        113956
..                   ...              ...     ...           ...
149  tv, audio & cameras  All Electronics     4.2          8877
150  tv, audio & cameras  All Electronics     3.9           757
151  tv, audio & cameras  All Electronics       4          3797
152  tv, audio & cameras  All Electronics     4.3         16085
153  tv, audio & cameras  All Electronics     4.2         59489

     discount_price  actual_price
0           10999.0       18999.0
1           18999.0       19999.0
2            1999.0        2299.0
3           15999.0       24999.0
4           18999.0       19999.0
..              ...           ...
149         12990.0       22900.0
150           399.0        1290.0
151           449.0         470.0
152           139.0         495.0
153          3379.0         465.0

[149 rows x 8 columns]

In [18]:
df['savings'] = df['actual_price'] - df['discount_price']

In [21]:
df.to_excel("C:\\Users\\14375\\Downloads\\sql project data\\all_electronics_dIM1_clean.xlsx", index=False)