In [22]:
import pandas as pd
import numpy as np

In [23]:
#loading the dataset
aa_df = pd.read_excel("C:\\Users\\14375\\Downloads\\sql project data\\All Appliances dimesnion.xlsx")

In [24]:
aa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              149 non-null    object
 1   name            149 non-null    object
 2   main_category   149 non-null    object
 3   sub_category    149 non-null    object
 4   Unnamed: 4      0 non-null      float64
 5   image           149 non-null    object
 6   link            149 non-null    object
 7   ratings         149 non-null    float64
 8   no_of_ratings   149 non-null    float64
 9   Unnamed: 9      0 non-null      float64
 10  discount_price  143 non-null    object
 11  actual_price    149 non-null    object
dtypes: float64(4), object(8)
memory usage: 14.5+ KB

In [25]:
aa_df.describe()

       Unnamed: 4     ratings  no_of_ratings  Unnamed: 9
count         0.0  149.000000     149.000000         0.0
mean          NaN    4.065101   14089.221477         NaN
std           NaN    0.264045   26687.996536         NaN
min           NaN    2.600000      11.000000         NaN
25%           NaN    3.900000    2255.000000         NaN
50%           NaN    4.100000    6755.000000         NaN
75%           NaN    4.200000   15997.000000         NaN
max           NaN    4.500000  274505.000000         NaN

In [26]:
aa_df.shape

(153, 12)

In [27]:
aa_df.head(5)

,id,name,main_category,sub_category,Unnamed: 4,image,link,ratings,no_of_ratings,Unnamed: 9,discount_price,actual_price
0,AA001,Pigeon by Stovekraft Amaze Plus Electric Kettl...,appliances,All Appliances,NaN,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Pigeon-Amaze-Plus-1-5-Lt...,3.9,128941.0,NaN,â‚¹599,"â‚¹1,245"
1,AA002,Pigeon Polypropylene Mini Handy and Compact Ch...,appliances,All Appliances,NaN,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Pigeon-Stovekraft-Plasti...,4.1,274505.0,NaN,â‚¹199,â‚¹545
2,AA003,Glun Multipurpose Portable Electronic Digital ...,appliances,All Appliances,NaN,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Multipurpose-Portable-El...,3.8,365.0,NaN,â‚¹199,â‚¹899
3,AA004,beatXP Kitchen Scale Multipurpose Portable Ele...,appliances,All Appliances,NaN,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/beatXP-Multipurpose-Port...,3.7,3290.0,NaN,â‚¹299,"â‚¹1,999"
4,AA005,Bajaj DX-6 1000W Dry Iron with Advance Solepla...,appliances,All Appliances,NaN,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Bajaj-Majesty-1000-Watt-...,4.2,24380.0,NaN,â‚¹625,"â‚¹1,400"

In [28]:
aa_df.dropna(how='all', inplace=True)

In [29]:
aa_df.dropna(axis=1, how='all', inplace=True)

In [30]:
aa_df.columns

Index(['id', 'name', 'main_category', 'sub_category', 'image', 'link',
       'ratings', 'no_of_ratings', 'discount_price', 'actual_price'],
      dtype='object')

In [31]:
aa_df = aa_df.rename(columns={'id': 'Appliance id'})

In [32]:
aa_df.drop(columns=['image', 'link'], inplace=True)

In [33]:
print(aa_df)

    Appliance id                                               name  \
0          AA001  Pigeon by Stovekraft Amaze Plus Electric Kettl...
1          AA002  Pigeon Polypropylene Mini Handy and Compact Ch...
2          AA003  Glun Multipurpose Portable Electronic Digital ...
3          AA004  beatXP Kitchen Scale Multipurpose Portable Ele...
4          AA005  Bajaj DX-6 1000W Dry Iron with Advance Solepla...
..           ...                                                ...
148        AA145  LG 7 Kg 5 Star Inverter Fully-Automatic Top Lo...
149        AA146  Orient Electric Wall-49 Wall-Mounted Fan with ...
150        AA147  Preethi Blue Leaf Diamond MG-214 mixer grinder...
151        AA148  MILTON Smart Egg Boilers | Instand Egg Boiler ...
152        AA149  FASTMART Coffee Milk Egg Beater Electric Foam ...

    main_category    sub_category  ratings  no_of_ratings discount_price  \
0      appliances  All Appliances      3.9       128941.0         â‚¹599
1      appliances  All Appliances      4.1       274505.0         â‚¹199
2      appliances  All Appliances      3.8          365.0         â‚¹199
3      appliances  All Appliances      3.7         3290.0         â‚¹299
4      appliances  All Appliances      4.2        24380.0         â‚¹625
..            ...             ...      ...            ...            ...
148    appliances  All Appliances      4.3        13541.0      â‚¹17,490
149    appliances  All Appliances      4.1         4088.0       â‚¹2,910
150    appliances  All Appliances      4.1        12096.0       â‚¹3,599
151    appliances  All Appliances      4.3         1985.0         â‚¹999
152    appliances  All Appliances      4.2           11.0         â‚¹229

    actual_price
0       â‚¹1,245
1         â‚¹545
2         â‚¹899
3       â‚¹1,999
4       â‚¹1,400
..           ...
148    â‚¹27,990
149     â‚¹4,235
150     â‚¹9,455
151     â‚¹1,899
152       â‚¹699

[149 rows x 8 columns]

In [34]:
aa_df['discount_price'] = aa_df['discount_price'].str.replace(',', '').str.replace('â‚¹', '').astype(float)
aa_df['actual_price'] = aa_df['actual_price'].str.replace(',', '').str.replace('â‚¹', '').astype(float)

In [35]:
print(aa_df)

    Appliance id                                               name  \
0          AA001  Pigeon by Stovekraft Amaze Plus Electric Kettl...
1          AA002  Pigeon Polypropylene Mini Handy and Compact Ch...
2          AA003  Glun Multipurpose Portable Electronic Digital ...
3          AA004  beatXP Kitchen Scale Multipurpose Portable Ele...
4          AA005  Bajaj DX-6 1000W Dry Iron with Advance Solepla...
..           ...                                                ...
148        AA145  LG 7 Kg 5 Star Inverter Fully-Automatic Top Lo...
149        AA146  Orient Electric Wall-49 Wall-Mounted Fan with ...
150        AA147  Preethi Blue Leaf Diamond MG-214 mixer grinder...
151        AA148  MILTON Smart Egg Boilers | Instand Egg Boiler ...
152        AA149  FASTMART Coffee Milk Egg Beater Electric Foam ...

    main_category    sub_category  ratings  no_of_ratings  discount_price  \
0      appliances  All Appliances      3.9       128941.0           599.0
1      appliances  All Appliances      4.1       274505.0           199.0
2      appliances  All Appliances      3.8          365.0           199.0
3      appliances  All Appliances      3.7         3290.0           299.0
4      appliances  All Appliances      4.2        24380.0           625.0
..            ...             ...      ...            ...             ...
148    appliances  All Appliances      4.3        13541.0         17490.0
149    appliances  All Appliances      4.1         4088.0          2910.0
150    appliances  All Appliances      4.1        12096.0          3599.0
151    appliances  All Appliances      4.3         1985.0           999.0
152    appliances  All Appliances      4.2           11.0           229.0

     actual_price
0          1245.0
1           545.0
2           899.0
3          1999.0
4          1400.0
..            ...
148       27990.0
149        4235.0
150        9455.0
151        1899.0
152         699.0

[149 rows x 8 columns]

In [36]:
#adding a savings column
aa_df['savings'] = aa_df['actual_price'] - aa_df['discount_price']

In [38]:
aa_df.to_excel("C:\\Users\\14375\\Downloads\\sql project data\\all_appliances_dIM1_clean.xlsx", index=False)